/* 
Color Pallete
Yellow - #EEC643
Dark Blue - #011638
Blue - #0D21A1
Black - #141414
White - #EEF0F2 
*/

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  border-right: 1ch solid; /* Blinking cursor */
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
}