/* Crash Site:
Color     -  Hex Code   -  Tailwind
Yellow    >  #EEC643    >  sunburst
Dark Blue >  #011638    >  midnight
Blue      >  #0D21A1    >  royal
Light Blue > #97DBFF    >  aqua
White     >  #EEF0F2    >  frost
Dark Mode:
Color     -  Hex Code   -  Tailwind
White     >  #EAF6FF    >  glacier 
Baby Blue >  #009FFD    >  skyline
Grey      >  #444140    >  charcoal
Orange    >  #FFA400    >  tangerine
Mat Black >  #1E1E24    >  onyx 
*/

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


@keyframes slide-r {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide-in-r {
  animation: slide-r 1s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s ease-out;
}
@keyframes fall-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.fall-in {
  animation: fall-in 1s ease-out;
}
.typewriter {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  border-right: 4px solid;
  animation: typing 2s steps(40, end), blink 0.75s step-end infinite;
  animation-delay: var(--delay, 0s);
}

.gradient {
  background: linear-gradient(-45deg, #2067d5, #0D21A1, #05398e, #011638 );
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}
.gradient_dark {
  background: linear-gradient(-45deg, #6c6d6e, #4e4c4b, #1e1e24, #131318 );
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}