/* 
Color Pallete
Yellow - EEC643
Dark Blue - 011638
Blue - 0D21A1
Black - 141414
White - EEF0F2 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; /* Sets the navbar all the way to edge */
  padding-top: 2rem;
}

section {
  padding: 2rem
}
